@font-face {
  font-family: 'ItalianPlate';
  src: url('./fonts/ItalianPlateNoOne-Regular.eot?#iefix') format('embedded-opentype'),  url('./fonts/ItalianPlateNoOne-Regular.woff') format('woff'), url('./fonts/ItalianPlateNoOne-Regular.ttf')  format('truetype'), url('./fonts/ItalianPlateNoOne-Regular.svg#ItalianPlateNoOne-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ItalianPlate';
  src: url('./fonts/ItalianPlateNoOne-Bold.eot?#iefix') format('embedded-opentype'),  url('./fonts/ItalianPlateNoOne-Bold.woff') format('woff'), url('./fonts/ItalianPlateNoOne-Bold.ttf')  format('truetype'), url('./fonts/ItalianPlateNoOne-Bold.svg#ItalianPlateNoOne-Bold') format('svg');
  font-weight: bold;
  font-style: normal;
}
